EXPLORATORY DATA ANALYSIS OF FINANCIAL CONSUMER COMPLAINTS FOR BANK OF AMERICA(2017-2013)

AIM:
The aim of this project is to perform and end-to-end exploratory data analysis to analyse Bank of America’s consumer complaints (2017-2023) to uncover seasonal trends, identify which products receive the most complaints and their common issues, examine how complaints are typically resolved, and explore insights from complaints with untimely responses.

STEPS:
1. Data loading and initial overview
2. Data Pre-processing
3. Exploratory Data Analysis (EDA)
4. Visualizations
5. Insight Generation and Report

# DATA LOADING AND INITIAL OVERVIEW

# Install and Import Import pandas library

Before loading the dataset, we need to ensure that the required Python libraries are installed.
The main library used for data manipulation and analysis is Pandas.

In [9]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.13/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

# Load the dataset
Reads the Excel file into a DataFrame named df

In [19]:
file_path = "/Users/arsha/Downloads/Consumer_Complaints.xlsx"
df = pd.read_excel(file_path)
print("Dataset Loaded Successfully!")

Dataset Loaded Successfully!

# Overview of Dataset

In [13]:
#Number of rows and columns
print("Dataset Shape (Rows, Columns):", df.shape)

Dataset Shape (Rows, Columns): (62516, 12)

In [14]:
# Data types of each column
print("\nData Types:")
print(df.dtypes)

Data Types:
Complaint ID                             int64
Submitted via                           object
Date submitted                  datetime64[ns]
Date received                   datetime64[ns]
State                                   object
Product                                 object
Sub-product                             object
Issue                                   object
Sub-issue                               object
Company public response                 object
Company response to consumer            object
Timely response?                        object
dtype: object

# Basic Dataset Information

In [15]:
print("\nDataset Info")
df.info()

Dataset Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62516 entries, 0 to 62515
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Complaint ID                  62516 non-null  int64
 1   Submitted via                 62516 non-null  object
 2   Date submitted                62516 non-null  datetime64[ns]
 3   Date received                 62516 non-null  datetime64[ns]
 4   State                         62516 non-null  object
 5   Product                       62516 non-null  object
 6   Sub-product                   62509 non-null  object
 7   Issue                         62516 non-null  object
 8   Sub-issue                     51658 non-null  object
 9   Company public response       60341 non-null  object
 10  Company response to consumer  62516 non-null  object
 11  Timely response?              61022 non-null  object
dtypes: datetime64[ns](2), int64(1), object(9)
memory usage: 5.7+ MB

In [16]:
print("\nFirst 5 Rows")
print(df.head())

First 5 Rows
   Complaint ID Submitted via Date submitted Date received State  \
0       4848023      Referral     2021-10-24    2021-10-27    NY
1       3621464           Web     2020-04-24    2020-04-24    FL
2       5818349           Web     2022-07-27    2022-07-27    CA
3       7233015      Referral     2023-07-10    2023-07-11    CA
4       5820224      Referral     2022-07-27    2022-07-28    VA

                                             Product  \
0                                           Mortgage
1  Money transfer, virtual currency, or money ser...
2  Credit reporting, credit repair services, or o...
3                        Credit card or prepaid card
4                        Credit card or prepaid card

                                  Sub-product  \
0                  Conventional home mortgage
1                   Refund anticipation check
2                            Credit reporting
3                General-purpose prepaid card
4  General-purpose credit card or charge card

                                               Issue  \
0  Applying for a mortgage or refinancing an exis...
1                               Lost or stolen check
2               Incorrect information on your report
3       Problem getting a card or closing an account
4                               Closing your account

                                           Sub-issue  \
0                                                NaN
1                                                NaN
2                      Account information incorrect
3  Trouble getting, activating, or registering a ...
4                        Company closed your account

                             Company public response  \
0  Company has responded to the consumer and the ...
1  Company has responded to the consumer and the ...
2  Company has responded to the consumer and the ...
3                                                NaN
4  Company has responded to the consumer and the ...

  Company response to consumer Timely response?
0      Closed with explanation              Yes
1  Closed with monetary relief              Yes
2      Closed with explanation              Yes
3                  In progress              NaN
4      Closed with explanation              Yes

In [17]:
# Descriptive Statistics
print("\nDescriptive Statistics")
print(df.describe(include='all'))

Descriptive Statistics
        Complaint ID Submitted via                 Date submitted  \
count   6.251600e+04         62516                          62516
unique           NaN             7                            NaN
top              NaN           Web                            NaN
freq             NaN         45423                            NaN
mean    4.512642e+06           NaN  2020-11-24 16:07:14.883869696
min     2.471340e+06           NaN            2017-05-01 00:00:00
25%     3.254020e+06           NaN            2019-05-22 00:00:00
50%     4.178582e+06           NaN            2021-03-02 00:00:00
75%     5.771284e+06           NaN            2022-07-14 00:00:00
max     7.458912e+06           NaN            2023-08-28 00:00:00
std     1.442917e+06           NaN                            NaN

                        Date received  State                      Product  \
count                           62516  62516                        62516
unique                            NaN     51                            9
top                               NaN     CA  Checking or savings account
freq                              NaN  13709                        24814
mean    2020-11-25 21:31:05.071341568    NaN                          NaN
min               2017-05-01 00:00:00    NaN                          NaN
25%               2019-05-28 00:00:00    NaN                          NaN
50%               2021-03-03 00:00:00    NaN                          NaN
75%               2022-07-15 00:00:00    NaN                          NaN
max               2023-08-28 00:00:00    NaN                          NaN
std                               NaN    NaN                          NaN

             Sub-product                Issue                 Sub-issue  \
count              62509                62516                     51658
unique                46                   76                       158
top     Checking account  Managing an account  Deposits and withdrawals
freq               20768                15109                      5596
mean                 NaN                  NaN                       NaN
min                  NaN                  NaN                       NaN
25%                  NaN                  NaN                       NaN
50%                  NaN                  NaN                       NaN
75%                  NaN                  NaN                       NaN
max                  NaN                  NaN                       NaN
std                  NaN                  NaN                       NaN

                                  Company public response  \
count                                               60341
unique                                                  6
top     Company has responded to the consumer and the ...
freq                                                60311
mean                                                  NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN
std                                                   NaN

       Company response to consumer Timely response?
count                         62516            61022
unique                            5                2
top         Closed with explanation              Yes
freq                          41044            58619
mean                            NaN              NaN
min                             NaN              NaN
25%                             NaN              NaN
50%                             NaN              NaN
75%                             NaN              NaN
max                             NaN              NaN
std                             NaN              NaN

# DATA PRE-PROCESSING

# Handle Missing Values
Identify and treat missing or null entries

In [21]:
print("Missing Values Summary:")
display(df.isnull().sum().sort_values(ascending=False))

Missing Values Summary:

Sub-issue                       10858
Company public response          2175
Timely response?                 1494
Sub-product                         7
Complaint ID                        0
Submitted via                       0
Date submitted                      0
Date received                       0
State                               0
Product                             0
Issue                               0
Company response to consumer        0
dtype: int64

Fill missing categorical values appropriately

In [25]:
df["Sub-product"].fillna("Unknown", inplace=True)
df["Timely response?"].fillna("Unknown", inplace=True)
df["Company public response"].fillna("No public response", inplace=True)

# We keep 'Sub-issue' as NaN since not every complaint has one

# Remove Duplicates
Each complaint should have a unique Complaint ID. Ensure no duplicate complaints are present.

In [26]:
duplicate_count = df.duplicated(subset="Complaint ID").sum()
print(f"Number of duplicate complaints: {duplicate_count}")

Number of duplicate complaints: 0

There is no duplicate values present in our dataset.

# Correct Data Types
Verify dates and categorical fields have appropriate formats.

In [36]:
# Convert date columns to datetime
df["Date received"] = pd.to_datetime(df["Date received"], errors="coerce")
df["Date submitted"] = pd.to_datetime(df["Date submitted"], errors="coerce")

In [29]:
# Confirm changes
print(df.dtypes)

Complaint ID                             int64
Submitted via                           object
Date submitted                  datetime64[ns]
Date received                   datetime64[ns]
State                                   object
Product                                 object
Sub-product                             object
Issue                                   object
Sub-issue                               object
Company public response                 object
Company response to consumer            object
Timely response?                        object
dtype: object

# Create Derived Columns
Add new variables for time-based and analytical insights.

In [30]:
# Extract temporal components for trend analysis
df["Year"] = df["Date received"].dt.year
df["Month"] = df["Date received"].dt.month_name()
df["Quarter"] = df["Date received"].dt.to_period("Q").astype(str)

In [31]:
# Calculate response time (days)
df["Response_Days"] = (df["Date submitted"] - df["Date received"]).dt.days

In [33]:
# Flag untimely responses
df["Untimely_Response_Flag"] = df["Timely response?"].apply(
    lambda x: 1 if str(x).strip().lower() == "no" else 0
)

In [34]:
# Simplify company response categories
def simplify_response(response):
    response = str(response).lower()
    if "monetary relief" in response:
        return "Monetary relief"
    elif "non-monetary relief" in response:
        return "Non-monetary relief"
    elif "closed with explanation" in response:
        return "Closed with explanation"
    elif "in progress" in response:
        return "In progress"
    else:
        return "Other"

df["Response_Category"] = df["Company response to consumer"].apply(simplify_response)

In [35]:
# Preview new derived columns
display(df[[
    "Date received", "Year", "Month", "Quarter", 
    "Response_Days", "Untimely_Response_Flag", "Response_Category"
]].head())

,Date received,Year,Month,Quarter,Response_Days,Untimely_Response_Flag,Response_Category
0,2021-10-27,2021,October,2021Q4,-3,0,Closed with explanation
1,2020-04-24,2020,April,2020Q2,0,0,Monetary relief
2,2022-07-27,2022,July,2022Q3,0,0,Closed with explanation
3,2023-07-11,2023,July,2023Q3,-1,0,In progress
4,2022-07-28,2022,July,2022Q3,-1,0,Closed with explanation

# Filtering & Aggregation
Prepare the data for analysis based on the project’s aim.

In [37]:
# Complaints by Year and Product
complaints_by_year_product = df.groupby(["Year", "Product"]).size().reset_index(name="Complaint_Count")

In [38]:
# Top 10 Complaint Issues
top_issues = df["Issue"].value_counts().head(10).reset_index()
top_issues.columns = ["Issue", "Complaint_Count"]

In [39]:
# Response Category Summary
response_summary = df["Response_Category"].value_counts().reset_index()
response_summary.columns = ["Response_Category", "Count"]

In [41]:
# Untimely Responses by Product
untimely_by_product = (
    df.groupby("Product")["Untimely_Response_Flag"].mean().reset_index()
    .rename(columns={"Untimely_Response_Flag": "Untimely_Response_Rate"})
    .sort_values(by="Untimely_Response_Rate", ascending=False)
)

In [42]:
# Display summaries

In [43]:
print("Complaints by Year and Product:")
display(complaints_by_year_product.head())

print("Top 10 Complaint Issues:")
display(top_issues)

print("Response Category Summary:")
display(response_summary)

print("Untimely Responses by Product:")
display(untimely_by_product)

Complaints by Year and Product:

   Year                                            Product  Complaint_Count
0  2017                        Checking or savings account             2032
1  2017                        Credit card or prepaid card             1123
2  2017  Credit reporting, credit repair services, or o...              465
3  2017                                    Debt collection              285
4  2017  Money transfer, virtual currency, or money ser...              141

Top 10 Complaint Issues:

                                               Issue  Complaint_Count
0                                Managing an account            15109
1               Incorrect information on your report             4931
2    Problem with a purchase shown on your statement             4415
3                                 Closing an account             2953
4                     Trouble during payment process             2827
5                                 Opening an account             2725
6  Problem with a lender or other company chargin...             2493
7                                      Fraud or scam             1987
8                         Struggling to pay mortgage             1904
9  Problem with a credit reporting company's inve...             1876

Response Category Summary:

         Response_Category  Count
0  Closed with explanation  41044
1          Monetary relief  19970
2              In progress   1494
3                    Other      8

Untimely Responses by Product:

                                             Product  Untimely_Response_Rate
3                                    Debt collection                0.063231
2  Credit reporting, credit repair services, or o...                0.061608
8                              Vehicle loan or lease                0.052133
1                        Credit card or prepaid card                0.042539
4  Money transfer, virtual currency, or money ser...                0.040544
0                        Checking or savings account                0.034940
6          Payday loan, title loan, or personal loan                0.030030
5                                           Mortgage                0.002424
7                                       Student loan                0.000000

In [45]:
#Summary
print("""
Data Pre-processing Complete!
- Missing values handled
- Duplicates checked
- Data types corrected
- Derived columns created (Year, Month, Quarter, Response_Days, etc.)
- Aggregated tables ready for EDA
""")

Data Pre-processing Complete!
- Missing values handled
- Duplicates checked
- Data types corrected
- Derived columns created (Year, Month, Quarter, Response_Days, etc.)
- Aggregated tables ready for EDA